In [1]:
import pandas as pd
import numpy as np
columns = ['Survived', 'Sex', 'Age', 'Fare', 'SibSp']

In [2]:
df = pd.read_csv('titanic.csv', usecols=columns)

In [3]:
df.head(5)

   Survived     Sex   Age  SibSp     Fare
0         0    male  22.0      1   7.2500
1         1  female  38.0      1  71.2833
2         1  female  26.0      0   7.9250
3         1  female  35.0      1  53.1000
4         0    male  35.0      0   8.0500

In [4]:
df.isnull().sum()

Survived      0
Sex           0
Age         177
SibSp         0
Fare          0
dtype: int64

In [5]:
len(df)

891

In [6]:
df.dropna()

     Survived     Sex   Age  SibSp     Fare
0           0    male  22.0      1   7.2500
1           1  female  38.0      1  71.2833
2           1  female  26.0      0   7.9250
3           1  female  35.0      1  53.1000
4           0    male  35.0      0   8.0500
..        ...     ...   ...    ...      ...
885         0  female  39.0      0  29.1250
886         0    male  27.0      0  13.0000
887         1  female  19.0      0  30.0000
889         1    male  26.0      0  30.0000
890         0    male  32.0      0   7.7500

[714 rows x 5 columns]

In [7]:
df = df.dropna()

In [8]:
df.isnull().sum()

Survived    0
Sex         0
Age         0
SibSp       0
Fare        0
dtype: int64

In [9]:
df.head(5)

   Survived     Sex   Age  SibSp     Fare
0         0    male  22.0      1   7.2500
1         1  female  38.0      1  71.2833
2         1  female  26.0      0   7.9250
3         1  female  35.0      1  53.1000
4         0    male  35.0      0   8.0500

In [10]:
y = df['Survived']
features = df.columns[ df.columns != 'Survived']
features

Index(['Sex', 'Age', 'SibSp', 'Fare'], dtype='object')

In [11]:
gender = {'male': 1, 'female': 0}
df['Sex'] = df['Sex'].map(gender)

In [12]:
df.head(5)

   Survived  Sex   Age  SibSp     Fare
0         0    1  22.0      1   7.2500
1         1    0  38.0      1  71.2833
2         1    0  26.0      0   7.9250
3         1    0  35.0      1  53.1000
4         0    1  35.0      0   8.0500

In [13]:
X = df[features]

In [14]:
X.head(5)

   Sex   Age  SibSp     Fare
0    1  22.0      1   7.2500
1    0  38.0      1  71.2833
2    0  26.0      0   7.9250
3    0  35.0      1  53.1000
4    1  35.0      0   8.0500

In [15]:
from sklearn.model_selection import train_test_split

/usr/lib/python3/dist-packages/scipy/__init__.py:146: UserWarning: A NumPy version >=1.17.3 and <1.25.0 is required for this version of SciPy (detected version 1.26.2
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [16]:
X_train, X_test, y_train, y_test = train_test_split(X.values, y.values, random_state=123, shuffle=True, test_size=0.3)

In [17]:
from sklearn.linear_model import LogisticRegression

In [18]:
lr = LogisticRegression(C=100.0, penalty='l2', solver='liblinear', multi_class='ovr')

In [19]:
lr.fit(X_train, y_train)

LogisticRegression(C=100.0, multi_class='ovr', solver='liblinear')

In [20]:
y_pred = lr.predict(X_test)

In [21]:
print(lr.score(X_train, y_train))
print(lr.score(X_test, y_test))

0.7855711422845691
0.7581395348837209

In [25]:
te = np.array([[1, 23.0, 2, 20.52]])
p_te = lr.predict(te)
p_te

array([0])

In [27]:
import pickle
data = {"model": lr}
with open('survivor.pkl', 'wb') as file:
    pickle.dump(data, file)

In [28]:
with open('survivor.pkl', 'rb') as file:
    n_model = pickle.load(file)
loaded = n_model["model"]

In [30]:
te = np.array([[0, 38.0, 1, 71.2833]])
p_t = loaded.predict(te)
p_t

array([1])